{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/home.css/' %}"> -->

<!-- Slideshow container -->
<div class="slideshow-container">

  <div id="top_logo">Galeria</div>


  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 5</div>
    <img src="https://i.imgur.com/dbU5jXh.jpg">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 5</div>
    <img src="https://i.imgur.com/3n5C9AL.jpg">
  </div>


  <div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="https://i.imgur.com/CsCRIq6.jpg">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
    <img src="https://i.imgur.com/yyfiaNV.png">
  </div>


  <div class="mySlides fade">
    <div class="numbertext">5 / 5</div>
    <img src="https://i.imgur.com/j8k6Jax.png">
  </div>
  

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
</div>

<script src="{% static 'js/slide.js/' %}"></script>

{% endblock %}

