{% extends "base.html" %}

{% block title %}Novo Endereço{% endblock %}

{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <div class="form-group">
    <h1>Agendamento de Consulta Médica</h1>
    <p>Realize um agendamento em nossa clínica utilizando o seguinte formulário:</p>
    <form action="." method="post" id="novo-agendamento">
      <p><label for="especialidade">Especialidade médica:</label>
      <select name="especialidade" id="id_especialidade" form="novo-agendamento" style="width:50%;">
      </select></p>
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" id="submit-form" value="Realizar agendamento" form="novo-agendamento"></p>
    </form>
  </div>
  <script src="{% static 'js/new_schedule.js' %}"></script>
{% endblock %}
