<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Kabador!</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">  
    <link rel="stylesheet" href="{%  static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&family=Martel:wght@300&display=swap" rel="stylesheet">
   
  </head>
  
  <body>
    {% include 'navbar.html' %}
    <!-- {% include 'messages.html' %} -->
    {% block content %}
    {% endblock %}
  </body>
</html>